#input-boxes{
    border-style: solid;
    padding: 2px;
    border-width: 1px
}

#news-container{
    height: 30em;
    width: 28vw;
    overflow: scroll;
    border-style: solid;
    padding: 2px;
    border-width: 1px

}

#main-flex-container{
    display: flex;
    justify-content: center;
    background-color: bisque
}

#login-container{
    display: flex;
    justify-content: center
}

#title{
    display: flex;
    justify-content: center;
}

#event-container{
    height: 30em;
    width: 28vw;
    overflow: scroll;
    border-style: solid;
    padding: 2px;
    border-width: 1px
}
#chat-container {
    margin: 1em;
    padding: 1em;
    height: 30em;
    width: 28vw;
    overflow: scroll
}

#register-account-container {
    padding: 1em
}